In [1]:
import pandas as pd
import re

In [1]:
df=pd.read_csv('./KITEC_2018.csv', header=None)

In [2]:
df
#Date (DD/MM/YY), No. of Event Days, Name of Event (English), Name of Event (Chinese), Promoter, 
#Event Type 1, Event Type 2, Importance, Nature, Frequency 1, Frequency 2, Admission Charges,
#No. of Spectators, Gross ticket proceeds, Remarks, Venue Type

                                                     0
0    40th Top Ten Chinese Gold Songs Award\nDate\t0...
1    The Chameleons UK Debut Live in Hong Kong\nDat...
2    25th HK Wedding Showcase 2018\nDate\t06 Jan 20...
3    Good morning, Hong Kong\nDate\t07 Jan 2018\nTi...
4    JWLS: SIMON PHILLIPS PROTOCOL\nDate\t11 Jan 20...
..                                                 ...
176  Jason Chan Not Alone Live\nDate\t24 Dec 2018 -...
177  【太遲發現 髂脛束症候群】演唱會\nDate\t26 Dec 2018\nTime\t8:3...
178  黄小琥<狂>演唱会2018 - 香港\nDate\t28 Dec 2018\nTime\t8...
179  The Low Mays X'mas 2018\nDate\t29 Dec 2018\nTi...
180  2019 NEW YEAR JAZZ CONCERT (HONG KONG) LI GAOY...

[181 rows x 1 columns]

In [4]:
df

                                                     0
0    40th Top Ten Chinese Gold Songs Award\nDate\t0...
1    The Chameleons UK Debut Live in Hong Kong\nDat...
2    25th HK Wedding Showcase 2018\nDate\t06 Jan 20...
3    Good morning, Hong Kong\nDate\t07 Jan 2018\nTi...
4    JWLS: SIMON PHILLIPS PROTOCOL\nDate\t11 Jan 20...
..                                                 ...
176  Jason Chan Not Alone Live\nDate\t24 Dec 2018 -...
177  【太遲發現 髂脛束症候群】演唱會\nDate\t26 Dec 2018\nTime\t8:3...
178  黄小琥<狂>演唱会2018 - 香港\nDate\t28 Dec 2018\nTime\t8...
179  The Low Mays X'mas 2018\nDate\t29 Dec 2018\nTi...
180  2019 NEW YEAR JAZZ CONCERT (HONG KONG) LI GAOY...

[181 rows x 1 columns]

In [5]:
#    x = re.findall(r'(?<=\:).*',i)
#     y = re.findall(r'.+(?=\:)',i)
# #     print(re.findall(r'(?<=\:).*',i))
# #     print(re.findall(r'.+(?=\:)',i))

In [6]:
test1= []
str(test1)

'[]'

In [13]:
df['Date (DD/MM/YY)']=df[0].apply(lambda x : re.findall(r'(?<=Date\t).*2018', x)[0])
df['No. of Event Days']=df[0].apply(lambda x : 2 if re.findall(r'(?<=2018\s)(\-).*2018', x) else 1)
df['Name of Event (English)']=df[0].apply(lambda x : re.findall(r'.*(?=\nDate)', x)[0])
df['Name of Event (Chinese)']=df[0].apply(lambda x : x.replace(x, ""))
#for data that is not exist in every event detail
df['Promoter']=df[0].apply(lambda x : re.findall(r'(?<=Organiser\t).*', x))
df['Promoter']=df['Promoter'].apply(lambda x : '' if len(x)==0 else x[0])

df['Event Type 1']=df[0].apply(lambda x : x.replace(x, ""))
df['Event Type 2']=df[0].apply(lambda x : x.replace(x, ""))
df['Importance']=df[0].apply(lambda x : x.replace(x, ""))
df['Nature']=df[0].apply(lambda x : x.replace(x, ""))
#quick sort by the data in "Date" column
df['Frequency 1']=df[0].apply(lambda x : 'Recurrent' if re.findall(r'(?<=2018\s)(\-).*2018', x) else '')
df['Frequency 2']=df[0].apply(lambda x : 'Times/Year' if re.findall(r'(?<=2018\s)(\-).*2018', x) else '')
#for data that is not exist in every event detail
df['Admission Charges']=df[0].apply(lambda x : re.findall(r'(?<=Entrance Fee\t).*', x))
df['Admission Charges']=df['Admission Charges'].apply(lambda x : '' if len(x)==0 else x[0])

df['No. of Spectators']=df[0].apply(lambda x : x.replace(x, ""))
df['Gross ticket proceeds']=df[0].apply(lambda x : x.replace(x, ""))
#for data that is not exist in every event detail
df['Remarks']=df[0].apply(lambda x : re.findall(r'(?<=Remarks\t)([\s\S]*)(?=\n.+\t)', x))
df['Remarks']=df['Remarks'].apply(lambda x : '' if len(x)==0 else x[0])

df['Venue Type']=df[0].apply(lambda x : re.findall(r'(?<=Venue\t).*', x)[0])

In [14]:
df

,0,Date (DD/MM/YY),No. of Event Days,Name of Event (English),Name of Event (Chinese),Promoter,Event Type 1,Event Type 2,Importance,Nature,Frequency 1,Frequency 2,Admission Charges,No. of Spectators,Gross ticket proceeds,Remarks,Venue Type
0,40th Top Ten Chinese Gold Songs Award\nDate\t0...,04 Jan 2018,1,40th Top Ten Chinese Gold Songs Award,,,,,,,,,,,,,Star Hall
1,The Chameleons UK Debut Live in Hong Kong\nDat...,05 Jan 2018,1,The Chameleons UK Debut Live in Hong Kong,,Catalyst Action,,,,,,,HK$680,,,,Music Zone@E-Max
2,25th HK Wedding Showcase 2018\nDate\t06 Jan 20...,06 Jan 2018 - 07 Jan 2018,2,25th HK Wedding Showcase 2018,,Audace International Fairs Ltd.,,,,,Recurrent,Times/Year,HK$10,,,,Rotunda 3 + Rotunda 2 + Star Hall
3,"Good morning, Hong Kong\nDate\t07 Jan 2018\nTi...",07 Jan 2018,1,"Good morning, Hong Kong",,Renaissance Foundation,,,,,,,HK$500,,,,Music Zone@E-Max
4,JWLS: SIMON PHILLIPS PROTOCOL\nDate\t11 Jan 20...,11 Jan 2018,1,JWLS: SIMON PHILLIPS PROTOCOL,,Jazz World,,,,,,,HK$580 / HK$450 / HK$280,,,,Music Zone@E-Max
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,Jason Chan Not Alone Live\nDate\t24 Dec 2018 -...,24 Dec 2018 - 26 Dec 2018,2,Jason Chan Not Alone Live,,SONY MUSIC ENTERTAINMENT HONG KONG LTD.,,,,,Recurrent,Times/Year,HK$780 / $580 / $380,,,,Star Hall
177,【太遲發現 髂脛束症候群】演唱會\nDate\t26 Dec 2018\nTime\t8:3...,26 Dec 2018,1,【太遲發現 髂脛束症候群】演唱會,,BUBBLEWRAP 新青年理髮廳,,,,,,,HK$350,,,,Music Zone@E-Max
178,黄小琥<狂>演唱会2018 - 香港\nDate\t28 Dec 2018\nTime\t8...,28 Dec 2018,1,黄小琥<狂>演唱会2018 - 香港,,特高娱乐/ 汤臣娱乐 / Live Ent / 艺能制作 / 英皇娱乐 / 大岳娱乐 / REG,,,,,,,HK$780 / $480 / $280,,,,Star Hall
179,The Low Mays X'mas 2018\nDate\t29 Dec 2018\nTi...,29 Dec 2018,1,The Low Mays X'mas 2018,,SEEAHOLE Limited,,,,,,,HK$330,,,,Music Zone@E-Max
180,2019 NEW YEAR JAZZ CONCERT (HONG KONG) LI GAOY...,30 Dec 2018 - 31 Dec 2018,2,2019 NEW YEAR JAZZ CONCERT (HONG KONG) LI GAOY...,,IMC,,,,,Recurrent,Times/Year,"HK$1,080/$880/$780/$680/$580/$380",,,,Music Zone@E-Max

In [30]:
df.dtypes

0                  object
Date (DD/MM/YY)    object
dtype: object

In [53]:
df.describe()

       No. of Event Days    Promoter
count         181.000000  181.000000
mean            1.243094    0.839779
std             0.430141    0.367828
min             1.000000    0.000000
25%             1.000000    1.000000
50%             1.000000    1.000000
75%             1.000000    1.000000
max             2.000000    1.000000

In [16]:
df.to_csv('KITEC2018_DC_pycleaned_ver2.csv')